* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  padding: 10px;
  margin: 10px 10px;
  cursor: pointer;
}
.btn-2 {
  background-color: white;
}
.change-color {
  background-color: red;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  width: 100%;
  margin: 10px 10px;
}

.item {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  cursor: pointer;
}
.count {
  margin-top: 10px;
  margin-left: 20px;
}
