* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.wrapper_task1 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin: 50px;
}

.wrapper_task2 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin: 50px;
}

.wrapper_task3 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin: 50px;
}

.wrapper_task4 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   margin: 50px;
}

.wrapper_task5{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin: 50px;
}

button {
   background-color: lightsalmon;
   border: 2px solid olive;
   cursor: pointer;
   color: olive;
   padding: 10px;
   border-radius: 5px;
}

.item{
   background-color: lightsalmon;
   border: 2px solid olive;
   cursor: pointer;
   padding: 10px;
   border-radius: 5px;
}

.olive {
   background-color: olive;
 }
 
.number{
   color: olive;
   background-color: lightsalmon;
   border: 2px solid olive;
   padding: 10px;
   border-radius: 5px;
   
}