*{
    box-sizing: border-box;
    font-size: 20px;
}

button{
    font-size: 14px;
    height: 29px;
    border-radius: 5px;
    border: 1px rgb(148, 255, 148) solid;
    background-color: aliceblue;
}
.red{
    background-color: red;
    border: 1px red solid;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}
.item{
    border: 1px  solid;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.blue{
    background-color: rgba(4, 4, 236, 0.776);
}
.clicks{
    margin-bottom: 5px;

    color: rgb(14, 123, 14);
}