* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

#root {
  margin-top: 30px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.body {
  display: flex;
  justify-content: center;
}
.body__form {
  border: 1px solid black;
  width: 400px;
  min-height: 200px;
  background: rgb(255, 255, 201);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.body__interName {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 400px) {
  .body__interName {
    flex-direction: column;
  }
}
.body__inputName {
  cursor: pointer;
  padding: 0 0 0 5px;
}
@media screen and (max-width: 400px) {
  .body__inputName {
    max-width: 180px;
  }
}
.body__interSurName {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 400px) {
  .body__interSurName {
    flex-direction: column;
  }
}
.body__inputSurName {
  cursor: pointer;
  padding: 0 0 0 5px;
}
@media screen and (max-width: 400px) {
  .body__inputSurName {
    max-width: 180px;
  }
}
.body__interAge {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 400px) {
  .body__interAge {
    flex-direction: column;
  }
}
.body__inputAge {
  cursor: pointer;
  max-width: 171px;
  width: 100%;
  padding-left: 5px;
}
@media screen and (max-width: 400px) {
  .body__inputAge {
    max-width: 180px;
  }
}
.body__buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media screen and (max-width: 400px) {
  .body__buttons {
    justify-content: flex-start;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.body__add {
  background: rgb(87, 87, 255);
  border: none;
  min-height: 30px;
  padding: 0 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.body__add:hover {
  background: rgb(141, 141, 255);
}
.body__add_disabled {
  background: gray;
}
.body__add_disabled:hover {
  background: rgb(111, 111, 111);
}
.body__person {
  background: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.body__deleteAll {
  background: rgb(87, 87, 255);
  border: none;
  min-height: 30px;
  padding: 0 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.body__deleteAll:hover {
  background: rgb(141, 141, 255);
}