* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.hide {
  visibility: hidden;
}

.container {
  max-width: 620px;
  padding: 0 10px;
  margin: 0 auto;
}

.todo {
  margin: 20px 0 0 0;
}
.todo__body {
  border-radius: 15px;
  border: 2px solid black;
  min-height: 115px;
  background: #d5d5d5;
  padding: 20px 40px 70px 40px;
}
.todo__top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;
}
.todo__del-all {
  border: 3px solid black;
  border-radius: 5px;
  min-height: 50px;
  max-width: 113px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17e7cf;
  transition: all 0.3s;
}
.todo__del-all:hover {
  background: rgb(71, 255, 233);
}
.todo__form {
  width: 100%;
  max-width: 240px;
}
.todo__enter {
  border: 3px solid black;
  padding: 0 15px;
  border-radius: 5px;
  min-height: 50px;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo__enter::-moz-placeholder {
  text-align: center;
}
.todo__enter::placeholder {
  text-align: center;
}
.todo__add {
  border: 3px solid black;
  border-radius: 5px;
  min-height: 50px;
  max-width: 113px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17e7cf;
  transition: all 0.3s;
}
.todo__add:hover {
  background: rgb(71, 255, 233);
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.component {
  position: relative;
  min-height: 123px;
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component_active {
  background: yellowgreen;
}
.component__form {
  max-width: 337px;
  width: 100%;
  padding-left: 12px;
}
.component__form input {
  width: 100%;
  outline: none;
  min-height: 55px;
  border: none;
  font-size: 16px;
  padding: 0 15px;
}
.component__form input::-moz-placeholder {
  text-align: center;
  font-size: 16px;
}
.component__form input::placeholder {
  text-align: center;
  font-size: 16px;
}
.component__form_active input::-moz-placeholder {
  text-decoration: line-through;
}
.component__form_active input::placeholder {
  text-decoration: line-through;
}
.component__check {
  border: 3px solid black;
  background: #17e7cf;
  margin-left: 14px;
  padding: 3px 10px 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 44.8px;
  height: 30.8px;
  cursor: pointer;
}
.component__check:hover {
  background: rgb(71, 255, 233);
}
.component__check img {
  width: 20px;
  height: 20px;
}
.component__close {
  border: 3px solid black;
  border-radius: 5px;
  background: #17e7cf;
  margin: 9px 16px 0px 0;
  padding: 5px 15px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.component__close:hover {
  background: rgb(71, 255, 233);
}
.component__close img {
  width: 10px;
  height: 15px;
}
.component__date {
  position: absolute;
  right: 12px;
  bottom: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  padding: 0px 10px;
  width: 85px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}