.link {
    &:hover {
        color: #2231AA;
    }
}

.H1 {
    font-size: 56px;
    line-height: 80px;
    font-weight: 700;
}

.H2 {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
}

.H3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.subline {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.textPrimary {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.textSecondary {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}