* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.whole_todo {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   border: 2px solid black;
   background-color: #D5D5D5;
   padding: 5px 20px 40px 20px;
   max-width: 350px;
   width: 100%;
   font-family: 'Roboto', sans-serif;
   margin: 100px;
}

.wrapper_table {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   gap: 10px;
   max-width: 350px;
   width: 100%;
}

.table_element {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   border: 2px solid black;
   background-color: #D5D5D5;
   padding: 5px;
   gap: 8px;
   width: 100%;
}

.header {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   margin: 10px 0 15px 0;
   width: 100%;
}

button.small_button {
   border-radius: 5px;
   border: 2px solid black;
   background-color: #46E6CF;
   font-size: 10px;
   width: 33px;
   height: 22px;
}


button.big_button {
   width: 100px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   border: 2px solid black;
   background-color: #46E6CF;
   font-size: 10px;
}



.header_input {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   border: 2px solid black;
   padding: 7px 12px;
   font-size: 10px;
   background-color: white;
   text-align: center;

}

.header_input::placeholder {
   color: #D5D5D5;
   opacity: 0.7;
}

.table_input {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   border: none;
   padding: 7px 35px;
   font-size: 10px;
   background-color: white;
   text-align: center;
   font-size: 10px;
   width: 100%;
}

.table_input::placeholder {
   color: #5E5E5E;
}

.placeholder {
   color: #5E5E5E;
}

.table_element_right {
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: end;
   justify-content: center;
}

.date {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   border: none;
   padding: 3px 7px;
   font-size: 10px;
   background-color: white;
   text-align: center;
   max-width: 50px;
}