* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

form {
   margin: 20px;
}

.ulWrapper {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   text-decoration: none;
   gap: 5px;
}

ul {
   padding: 2px;
  
   margin-left: 20px;
}

.buttons {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 20px;
   margin: 20px;

} 

button {
   border-radius: 5px;
   padding: 5px;
}
