.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.withBackground {
    height: 56px;
    padding: 0 32px;
    background-color: #E8E8E8;;
}

.headerType {
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}